/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
/* reset the broswers css */

*,
*::after,
*::before { /* universial selector  */
    margin: 0; 
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* use this all the time aka 16px  */
}

body {
    font-family: "Lato", sans-serif; /* fonts should be defined in body and are inheritted by the children of the body*/
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7; /* will be 1.7 times the standards height*/
    color: #777;
    padding: 3rem;

    box-sizing: border-box; /* changes box model so border and padding are not added */
}

.header {
    height: 95vh; /*should be at 95% of the viewport*/
    background-image: linear-gradient(to right bottom, 
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 133, 0.8)), 
    url(../img/hero.jpg);
    background-size: cover; /*cover: will try to fit the element inside the box*/
    background-position: top; /*makes sure top of image stays at the top of the page*/
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left:4rem;
}

.header__logo {
    height: 3.5rem;
}


.header__text-box {
    position: absolute;
    top: 40%; /* top & left refer to 40% of parent element*/
    left: 50%;/* left & left refer to 50% of parent element*/
    transform: translate(-50%, -50%); /*keeps text-box in the middle(exactly in the middle) and keeps it responsive*/
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden; /*keeps animations from*/
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    
    /*
    animation-delay: 3s; waits speciffied amount of seconds 
    animation-iteration-count: 3; repeats speciffied number of times
    */
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;


animation: moveInRight 1s ease-out; /*short-hand code for same thing on lines 66 - 68*/

}

@keyframes moveInLeft {
    0% { /*where you want animation to start*/
        opacity: 0;
        transform: translateX(-10rem); /*positive: goes to left, negitive: goes to right*/
    }

    80% {
        transform: translateX(1rem);
    }

    100% { /*where you want the animation to end*/
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% { /*where you want animation to start*/
        opacity: 0;
        transform: translateX(10rem); /*positive: goes to left, negitive: goes to right*/
    }

    80% {
        transform: translateX(-1rem);
    }

    100% { /*where you want the animation to end*/
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% { /*where you want animation to start*/
        opacity: 0;
        transform: translateY(3rem); /*positive: goes to left, negitive: goes to right*/
    }

    100% { /*where you want the animation to end*/
        opacity: 1;
        transform: translate(0)
    }
}

.btn:link,
.btn:visited { /* link is a psuedoclass, used to style elements on a special condition.  */
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s; 
    position: relative;
    font-size: 1.6rem;
}

.btn:hover {
    transform: translateY(-3px); /*to move up use negitive values*/
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2); /*offset in x direction, Offset Y direction, blur */
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.2);
}

.btn--white {
    background-color: #fff;
    color: #777;
    padding: 1.5rem 4rem; /*Order: top, bottom, right, left*/
}

.btn::after { /*psedoelements*/
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*defines position of the elements if they one on top of another */
    transition: all .4s;
}

.btn--white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; /* automatically applies styles at 0, (i.e. you won't see the button)
}